@import "../scss/general-styling.scss";

a {
  text-decoration: none;
}

.sticky-wrapper
{
  padding: 1.5rem 7rem;
  font-weight: 300;
  position: fixed;
  width: 100%;

  *{
    color: $white;
  }

  .nav-bar
  {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;

    .nav-logo
    {
      padding: 7px 20px;
      font-size: 1.3rem;
      font-weight: 900;
      letter-spacing: 3px;
    }
    
    ul {
      display: flex;
  
      
      li {
        list-style: none;
        padding: 7px 20px;

        a[href="#pricing"] {
          color: black;
        }
        a[href="#contact"] {
          background-color: $red;
          padding: 9px 23px;
          border-radius: 4px
        }
      }
    }
  }
}
