@import "../scss/general-styling.scss";

#process {

  .text {
    width: 550px;
  }

  .card {
    background-color: $white;
    flex-direction: column;
    width: 420px;
    height: 450px;
    margin-right: 2rem;
    border: 1px solid rgb(218, 218, 218);
    justify-content: center;
    align-items: center;
    padding: 30px;


    img {
      margin-bottom: 20px;
      width: 64px;
      height: 64px;
    }
  }
}