@import "../scss/general-styling.scss";

#video {

  .container {
    
    background-image: url('../imgs/video_bg.jpeg');
    background-size: cover;
    background-position: center;
    height: 700px;
  }
}