* {
  margin: 0;
  padding: 0;

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: rgb(38, 31, 31);
  margin: auto;
  overflow: hidden;
}

.content {
  display: flex;
  width: 1000px;
  aspect-ratio: 1/1;
  margin: auto;
  box-sizing: border-box;
  max-width: 1500px;
  color: rgb(172, 166, 166);
}

.main-content {
  margin-left: 15px;
  width: 69%;

  /* background-color: grey; */
}

.button {
  margin-top: 30px;
  width: 150px;
  border: solid 3px rgb(172, 166, 166);
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: 1.5s;
}

.button:hover {
  color:white;
}

.photos {
  padding-top: 50px;
  width: 30%;
}

.photos > .photo {
  width: 100%;
}

.photo {
  transition: 1.5s;
}


.big-image {
  margin-top: 55px;
  width: 100%;
  transition: 2s;
}

#photo4 {
  margin-top: 15px;
  width: 100%;

  transition: 1s;
}

#photo4:hover{
  width: 700px;
  margin-left: -400px;
  margin-top: -200px;

  z-index: 10;
}

.last-photo-wrapper {
  width: 50%;
}


#photo3 {
  margin-top: 60px;
}

.last-info {
  display: flex;
}

.last {
  margin: auto;
  margin-top: 30px;
}

.icons {
  text-align: center;
}

.icon {
  width: 30px;
  margin: 5px;
  margin-bottom: 10px;

  transition: 0.4s;
}

#horizontal-line {
  position: absolute;
  background-color: chocolate;
  width: 100%;
  height: 15%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -10;
}

.photo:hover {
  border-radius: 50px;
  
}

.photo:target {
  width: 100px;
}

.big-image:hover {
  border-radius: 100px;
  width: 120%;
}

.icon:hover {
  width: 45px;
}


