/* code all the same as in portfolio,
  just changed class names from 
  portfolio to blog
*/

.blog
{
  padding-top: 70px;
  background-color: rgb(242,242,242);
}

.line-card-blog
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.card-blog
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0px 10px;
  width: 330px;
  border: 1px solid rgb(201, 201, 201);
}

.card-blog-pic
{
  background-size: cover;
  width: 330px;
  height: 200px;
  box-sizing: border-box;
  background-color:rgb(242, 242, 242);
}

.card-blog-content
{
  align-items: center;
  margin-top: 20px;
  padding: 0px 15px;
  margin-bottom: 20px; 
}

.blog-title
{
  font-size: 22px;
}

.blog-card-details
{

  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}

.card-blog-bottom
{
  width: 100%;
  height: 50px;
  display: flex;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  border-top: 1px solid rgb(213, 213, 213)
}

.blog-bottom-pic
{
  background-image: url('../img/about.jpg');
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-size: cover;
  margin-right: 5px;
}

.blog-button
{
  box-shadow: none;
  border: none;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  line-height: 250%;
  padding: 0px 15px;
  pointer-events: none;
}

.button-centralizer
{
  width: inherit;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -32px;
}

.blog-clock-img
{
  width: 25px;
  color:rgb(242, 242, 242);
}

.center
{
  position: relative;
  display: flex;

}

.blog-bottom-wrapper
{
  margin-left: 60px;
}

.card-blog-pic1
{
  background-image: url("../img/post-1.jpg");
}

.card-blog-pic2
{
  background-image: url("../img/post-2.jpg");
}

.card-blog-pic3
{
  background-image: url("../img/post-3.jpg");
}