@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.nav-li-item
{
  position: relative;

}

.nav-bar-item:link {
  text-decoration: none !important;
}

.nav-bar-item {
  color: white !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  overflow-x: hidden;
  color: rgb(70, 70, 70);
  background-color: rgb(242, 242, 242);
}



.photo-header-section {
  height: 100vh;
  width: 100vw;
  color: white;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/header_bg.jpg");
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  background-attachment: fixed;
}

/* drop-down menu */

.drop-down-menu:hover .header-drop-down
{
  display: flex;
  top: 30px;
  opacity: 100%;
  height: auto;
}

.header-drop-down
{
  flex-direction: column;
  position: absolute;
  width: 200px;
  left: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display:flex;
  transition: 500ms;

  top: 60px;
  top: 30px;
  opacity: 0%;
}

.header-drop-down .drop-down-item 
{
  line-height: 2.7em;
  color: rgb(67, 67, 67) !important;
  font-size: 15px;
  cursor: pointer;
  transition: 300ms;
}

.drop-down-item:hover{
  color: rgb(51, 133, 255) !important;
}

.header-drop-down-icon
{
  margin-left: 5px;
  width: 10px;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0px;
  background-color: black;
  padding-left: 60px;
  min-width: 600px;
  width: 900px;
  justify-content: space-between;
  width: 100vw;
  z-index: 100;

  transition: 400ms;
}

.scrolled-header {
  padding: 10px 0px 10px 60px;
  opacity: 90%;
}

nav {
  min-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.nav-bar-items {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-around;
}

.nav-bar-item {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.nav-bar-item::after {
  content: "";
  position: absolute;
  background-color: rgb(242, 242, 242);
  height: 2px;
  width: 0%;
  left: 10px;
  bottom: -2px;
  transition: 300ms;
}

.nav-bar-items .nav-bar-item:hover::after, .nav-bar-items .nav-bar-item.active::after {
  width: 70%;
}

.typed-cursor {
  font-size: 40px;
  font-weight: 500;
}

.dev-folio {
  font-size: 30px;
  font-weight: 600;
  width: 20%;
  margin-left: 50px;
}

.centered-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  align-items: center;
  font-size: 55px;
  font-weight: 600;
}

.changing-text {
  font-size: 40px;
}
