@import 'https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700,800';
@import 'https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700,800';


*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}