.content {

}

.header {
  background-color:  rgb(38,38,38);
  height: 70px;
  padding: 30px;
  color: rgb(179,171,168);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side {
  float: right;
}

.menu {
  color: rgb(179,171,168);
  background-color: rgb(26,26,26);
  height: 60px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 700;
}

.menu-item {
  margin: 0 20px;
  cursor: pointer;
}

.swiper {
  height: 350px;
  background-color: orange;
}

.four-headlines {
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  color: rgb(38,38,38);
  margin-bottom: 70px;
}

.four-template {
  height: 50%;
  display:flex;
  padding: 20px 20px 0 40px;
  width: 90%;
  
}

.left {
  width: 50%;
}

.four-content {
  margin-left: 20px;
}

.cube-div {
  width: 100px;
}

.cube {
  width: 100px;
  height: 100px;
  background-color: rgb(38,38,38);
}

.four-title {
  font-size: 22px;
  font-weight: 600;
  color: rgb(120, 120, 120);
}

.four-text {
  margin: 10px 0;
}

.read-more {
  text-align: right;
  color: orange;
  font-weight: 500;
}

.right {
  width: 50%;
}

.two-headlines {
  height: 500px;
  margin-top: 60px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

.two-left, .two-right {
  width: 48%;
  padding-right: 30px;
}

.two-title {
  font-size: 30px;
  font-weight: 500;
  color:rgb(120, 120, 120);
  margin-bottom: 25px;
}

.two-text {
  margin: 10px 0;
}

.two-rectangle {
  width: 100%;
  height: 150px;
  background-color: rgb(74, 74, 74);
  margin-top: 50px;
  margin-bottom: 70px;
}

footer {
  color: rgb(120, 120, 120);
  background-color: rgb(38,38,38);
  height: 400px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-top: 45px;
}

.footer-section {
  width: 24%;
  margin-left: 10px;
  margin-right: 50px;
}

.underline {
  width: 100%;
  border: 0.5px solid grey;
}

.nav-title {
  font-size: 19px;
  font-weight: 600;
}

.nav-list {
  margin-top: 40px;
  color: orange;
}

.darker-underline {
  border: 0.5px solid rgb(58, 58, 58);
}

.rs-1200 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 0;
  line-height: 100%;
}