.content {

}

.header {
  background-color:  rgb(38,38,38);
  height: 70px;
  padding: 30px;
  color: rgb(179,171,168);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side {
  float: right;
}

.menu {
  color: rgb(179,171,168);
  background-color: rgb(26,26,26);
  height: 60px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 700;
}

.menu-item {
  margin: 0 20px;
}

.swiper {
  height: 350px;
  background-color: orange;
}



.rs-1200 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 0;
  line-height: 100%;
}